#front-app
/front-app/.phpunit.cache
/front-app/node_modules
/front-app/public/build
/front-app/public/hot
/front-app/public/storage
/front-app/storage/*.key
/front-app/vendor
/front-app/.env
/front-app/.env.backup
/front-app/.env.production
/front-app/.phpunit.result.cache
/front-app/Homestead.json
/front-app/Homestead.yaml
/front-app/auth.json
/front-app/npm-debug.log
/front-app/yarn-error.log
/front-app/.fleet
/front-app/.idea
/front-app/.vscode
/front-app/.DS_Store

#back-app
/back-app/.phpunit.cache
/back-app/node_modules
/back-app/public/build
/back-app/public/hot
/back-app/public/storage
/back-app/storage/*.key
/back-app/vendor
/back-app/.env
/back-app/.env.backup
/back-app/.env.production
/back-app/.phpunit.result.cache
/back-app/Homestead.json
/back-app/Homestead.yaml
/back-app/auth.json
/back-app/npm-debug.log
/back-app/yarn-error.log
/back-app/.fleet
/back-app/.idea
/back-app/.vscode
/back-app/.DS_Store

#others
/theme/
/recruitment/
